.default {
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.25rem;
}

.primary {
  background-color: #1c68cc;
}

.primary:hover {
  background-color: #1b5eb6;
}

.secondary {
  background-color: #a91ccc;
}

.secondary:hover {
  background-color: #a91bb6;
}

.danger {
  background-color: #cc1c39;
}

.danger:hover {
  background-color: #b3122d;
}
