:root {
  --gray: #494949;
}

.card {
  min-width: 250px;
  max-width: 250px;
  padding: 1rem;
  color: var(--gray);
  border: 1px solid var(--gray);
}

.card-content {
  position: relative;
}

.card-content > *:not(:first-child),
.card-content-details > *:not(:first-child) {
  margin-block: 0.5rem;
}

.card-content-header {
  font-weight: bold;
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-content-username {
  font-style: italic;
}

.card-content-bio {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3;
}

.card-action {
  text-align: right;
}