.person-detail {
  border: 1px solid #bdbdbd71;
  padding: 2rem;
  border-radius: 6px;
}

.btn-back {
  margin-bottom: 3rem;
  display: inline-block;
  max-width: fit-content;
  border: 1px solid #92929296;
  padding: 0.2rem 0.7rem;
  border-radius: 6px;
  color: #7e7e7e;
}