.follows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-bottom: 3rem;
}

.follows > div {
  line-height: 1.4;
}

.digit {
  font-size: 1.5rem;
  font-weight: bold;
}