.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.avatar {
  border-radius: 99999px;
  object-fit: contain;
  border: 1px solid #a7a7a76c;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .name {
    font-size: 2rem;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 375px) {
  .text-overflow {
    max-width: 260px;
  }
}
