.navbar {
  padding-block: 1rem;
  border-bottom: 1px solid #a0a0a085;
  margin-bottom: 3rem;
}

.navbar > nav {
  display: flex;
  width: 80%;
  max-width: 1440px;
  margin-inline: auto;
  column-gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}

.navbar-button {
  background-color: #e736ca;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #d11ab3;
}

.navbar-item {
  text-decoration: none;
}
